:root {
  --color-brand: #FFF;
  --color-word-web: #4D5AE5;
  --color-dark: #2E2F42;
  --color-background-white: #F4F4FD;
  --color-adress: #434455;
  }

/* global */

body {
    color: var(--color-dark);
    font-family: "Roboto"; 
    background-color: var(--color-brand);
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.visualyy-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.logo {
    color:var(--color-dark);
    font-size: 18px;
    font-weight: 700;
    line-height: 1,16;
    letter-spacing: -0.03em; 
    font-family: "Raleway"; 
    text-transform: uppercase;
}

.word-web {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 1,16;
    letter-spacing: -0.03em; 
    color:var(--color-word-web)
}

.nav-section {

}

.nav-link {
    color:var(--color-dark);
    font-weight: 500;
    line-height: 1,5; 
    letter-spacing: -0,02em;
    }

.adress-link {
    color: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;   
    letter-spacing: -0,02em;
}

/* .hero-section */

.hero-section {
    background-color: var(--color-dark);
}    

.hero-title {
    color: var(--color-brand);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: -0.02em;
}

.hero-button {
    background-color: var(--color-word-web);
    color: var(--color-brand);
    font-family: inherit;
    border: none;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: -0.04em;
}

/* advantages-section */

.advantage-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: -0.02em;
}

.advantage-text {
    color: var(--color-adress);
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: -0.02em;
}

/* our-team */

.our-team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.02em;
    text-transform: capitalize;
}

.our-team-members {
        font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: -0.02em;
}

.our-team-profession {
    color: var(--color-adress);
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: -0.02em;
}

.our-team {
    background-color: var(--color-background-white);
}

/* our portfolio */

.portfolio-title {
       font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: -0.02em;
text-transform: capitalize;
}

.portfolio-examples {
        font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: -0.02em;
}

.portfolio-examples-p {
    color: var(--color-adress);
    font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: -0.02em;
}

/* footer */

.footer-section {
    background-color: var(--color-dark);
}
.logo-end {
    color:var(--color-background-white);
    font-size: 18px;
    font-weight: 700;
    line-height: 1,16;
    letter-spacing: -0.03em; 
    font-family: "Raleway"; 
    text-transform: uppercase;
}

.footer-text {
    color: var(--color-background-white);
    font-weight: 400;
line-height: 1.5; 
letter-spacing: -0.02em;
}